h1{
    color: green;
    text-align: center;
}
ul{
    color: black;
    margin-left: 20px;
    background-color: aqua;
}
.tarjeta{
    width: 250px;
    border: 10px solid #ccc;
    background-color: rgb(131, 128, 81);
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
    padding: 10px;
}
.imagen{
    width: 100px;
    border-radius: 10%;
    margin-left: 25%;
    
}